<ion-menu side="start" content-id="main-content">
  <ion-header>
      <ion-toolbar translucent>
          <ion-title>Menu</ion-title>
      </ion-toolbar>
  </ion-header>
  <ion-content>
      <ion-list>
          <ion-item>
              <ion-label>Sales</ion-label>
          </ion-item>
      </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
      <ion-toolbar>
          <ion-buttons slot="start">
              <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-label slot="primary">
              <div class="profile">
              </div>
          </ion-label>
          <ion-label slot="primary">NAME HERE</ion-label>
          <ion-buttons slot="primary">
              <ion-button>
                  <ion-icon name='arrow-down'></ion-icon>
              </ion-button>
          </ion-buttons>
      </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-grid class="screen-padding">
        <ion-row >
            <ion-col class="text-Header">Subscriptions</ion-col>
            <ion-col>
                <div class="float-right text-Header">/Previous Page Name</div>
                <ion-icon name="home" class="float-right">
                </ion-icon>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="text-Header1">DESCRIPTION</ion-col>
        </ion-row>
        <div class="content-box">
          <ion-col class="text-Header">Subscriptions</ion-col>
          <ion-row style="border-bottom: groove;">
            <ion-col >
            <ion-label class="text-Header">USER</ion-label>
          </ion-col>
          <ion-col size="2" size-lg="2">
            <ion-label class="text-Header" >USER NAME</ion-label>
          </ion-col>
            <ion-col  size="2" size-lg="2">
            <ion-label class="text-Header">RESTAURANT</ion-label>
          </ion-col>
          <ion-col  size="2" size-lg="2">
            <ion-label class="text-Header">STATUS</ion-label>
          </ion-col>
          <ion-col   size="2" size-lg="2">
            <ion-label class="text-Header" >SUBSCRIPTION</ion-label>
          </ion-col>
          <ion-col  size="2" size-lg="2">
            <ion-label class="text-Header">VALIDITY</ion-label>
          </ion-col>
          <ion-col  col-4>
            <ion-label class="text-Header">ACTION</ion-label>
          </ion-col>
        </ion-row>
        <ion-row style="border-bottom: lightgray;align-items: center;">
            <ion-col col-4>
                <ion-label slot="primary">
                    <div class="profile">
                    </div>
                </ion-label>
          </ion-col>
          <ion-col size="2" size-lg="2">
            <ion-label class="text-Header">Jayanth</ion-label>
          </ion-col>
          <ion-col size="2" size-lg="2">
            <ion-label class="text-Header" >RESTAURANT</ion-label>
          </ion-col>
          <ion-col  size="2" size-lg="2">
            <div class="status-padding center" >
                <p class="status-text">Active</p>
              </div>
          </ion-col>
          <ion-col size="2" size-lg="2">
            <ion-label class="text-Header">SUBSCRIPTION NAME</ion-label>
          </ion-col>
          <ion-col size="2" size-lg="2">
            <ion-labelclass="text-Header" >DATE ANDTIME</ion-label>
          </ion-col>
          <ion-col  col-4>
            <div class="action-padding center" >
                <p>View</p>
              </div>
          </ion-col>
        </ion-row>
        </div>
     
    </ion-grid>
  </ion-content>
  
</div>

